.jumbotron {
    background-color:skyblue;
    color: black;
  }

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

table{
  background: #fff;
}

.form-control{
    height: 30px;
    border-radius: 2px;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  color: green;
}